

<div class="portfolio scroll-bar" onscroll={{this.handleScroll}}>

    <nav class="header" style="position: fixed;z-index:5;">
        <a href="#home">Home </a>
        <a href="#about">About</a>
        <a href="#resume">Resume</a>
        <a href="#project">Project</a>
        <a href="#contact">Contact</a>
    </nav>

    <div id="home" class="home division" >
        <div class="content">
                <span style="font-size:70px;font-weight:900;">BASKAR. E</span>
                <span style="font-family:'Courier New', Courier, monospace;">Software Developer</span>
        </div>
    </div>

    <div id="about" class="about division">
        <div class="overlay-container">
            <div class="content">
                <h3>About</h3>
                <div class="about-content">
                    As a software developer, I possess a degree in computer science and experience in developing software. Passionate about crafting elegant solutions and pushing the boundaries of technology, I thrive in dynamic environments where creativity meets problem-solving. With a strong foundation in computer science principles and hands-on experience in software development, I am committed to continuous learning and growth in the ever-evolving field of technology.
                </div>
            </div>
        </div>
    </div>

    <div id="resume" class="resume division">
        <div class="overlay-container" style="background-image: linear-gradient(to left top, rgb(0 0 0 / 76%), rgb(0 0 0 / 38%), #000000c7)">
            <div class="content">
                 <h3 style="margin-top: 0px;">Resume</h3>
                 <div class="resume-content">
                    <div><div class="skills container">
                        <h4 >Skills</h4>
                        <ul>
                            <li>Java <i class="fa-brands fa-java"></i></li>
                            <li>C & C++ Programming</li>
                            <li>HTML & CSS <i class="fa-brands fa-css3-alt"></i></li>
                            <li>JavaScript <i class="fa-brands fa-js"></i></li>
                            <li>Ember.js(Front-end Framework)  <i class="fa-brands fa-ember"></i></li>
                            <li>Servlets & JSP</li>
                            <li>Java Native Interface(JNI)</li>
                            <li>Postgres <i class="fa-solid fa-database"></i></li>
                        </ul>
                    </div>
                     <div class="languages container">
                        <h4>Languages</h4>
                        <ul>
                            <li>English</li>
                            <li>Tamil</li>
                        </ul>
                    </div></div>
                    <div class="education container">
                        <h4 >Education</h4>
                        <div class="edu">
                            <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    SSLC (2016 - 2017)<br>
                                    <span style="font-size: 12px;">
                                        Velammal Memorial Matric Hr. Sec. School
                                        <ul>
                                            <li>Percentage - 95.6</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    HSC (2018 - 2019)<br>
                                    <span style="font-size: 12px;">
                                        Velammal Memorial Matric Hr. Sec. School
                                        <ul>
                                            <li>Percentage - 70.16</li>
                                        </ul>
                                    </span>
                                </div>
                             </div>

                             <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    Bsc Computer Science (2019 - 2022)<br>
                                    <span style="font-size: 12px;">
                                        SRM Institute of Science and Technology
                                        <ul>
                                            <li>CGPA - 9.32</li>
                                        </ul>
                                    </span>
                                </div>
                             </div>

                             <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    Msc Information Technology (2022 - 2024)<br>
                                    <span style="font-size: 12px;">
                                        University of Madras
                                    </span>
                                </div>
                             </div>
                        </div>
                    </div>

                    <div><div class="work-exp container">
                        <h4 >Work Experience</h4>
                        <ul>
                            <li>Incubation trainee at Zoho from June 2022 to November 2022.</li>
                            <li>I worked as a contract employee at Zoho from November 2022 until April 2023.</li>
                        </ul>
                    </div>
                    <div class="hobbies container">
                        <h4>Hobbies & Interests</h4>
                        <div class="details">
                            <div class="hobby">
                                <i class="fa-solid fa-baseball"></i>
                                <span>Cricket</span>
                            </div>
                             <div class="hobby">
                                 <i class="fa-solid fa-paintbrush"></i>
                                <span>Drawing & Painting</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-solid fa-volleyball"></i>
                                <span>Volley Ball</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-solid fa-plane fa-rotate-180"></i>
                                <span>Travelling</span>
                            </div>
                        </div>
                    </div>
                    <div class="download-cv container" style="margin-top: 10vh;">
                        <a href="/resume.pdf" download="resume">                         
                         <div class="parent">
                            <span style="width:70px;padding:10px 15px;border:1px solid white;border-radius:30px;align-items:center;">Baskar's Resume <i class="fa-solid fa-download"></i></span>  
                            <div class="tooltip">click to download Baskar's Resume</div>
                         </div>
                        </a>
                    </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div id="project" class="project division">
        <div class="overlay-container">
            <div class="content">
                <h3 style="margin-top: 0px;">Project (Movie Ticket Booking - EasyTickets)</h3>
                <div class="project-content">
                  <div>
                    <h4>Overview</h4>
                    <p style="padding-left:15px;text-indent: 30px;">Our movie ticket booking application is a user-friendly platform designed to streamline the process of purchasing movie tickets online. With a sleek and intuitive interface, users can easily browse through a wide selection of movies, view showtimes at various theaters, select their preferred seats, and securely complete their bookings—all from the comfort of their own homes. Our goal is to provide a convenient and hassle-free movie-going experience for cinema enthusiasts of all ages.</p>
                  </div>
                  <div>
                    <h4>Technologies Used</h4>
                     <table style="padding-left:15px;">
                        <tbody>
                            <tr>
                                <td>Front-end: </td>
                                <td>Ember js, HTML, SCSS, JavaScript</td>
                            </tr>
                            <tr>
                                <td>Back-end: </td>
                                <td>Java, Servlets</td>
                            </tr>
                            <tr>
                                <td>Database: </td>
                                <td>Postgres</td>
                            </tr>
                        </tbody>
                     </table>
                  </div>

                  <div>
                    <h4>Key Features</h4>
                    <p style="padding-left:15px;font-size:15px;">
                        <ul>
                            <li>User Authentication and Authorization: Secure user authentication system to allow users to sign up, log in, and manage their accounts.</li>
                            <li>Movie Browsing and Selection: Extensive catalog of movies with detailed information including titles, genres, release dates, and synopses. Seat Selection and Booking: Interactive seat map interface for users to select their preferred seats in theaters and book tickets for desired showtimes.</li>
                            <li>Booking History and User Profile Management: Personalized user profiles to view booking history, manage preferences, and update account details.</li>
                            <li>Host dashboard: A dashboard for the hosts for managing movies, theaters, and bookings,etc..</li>
                            <li>Booking History and User Profile Management: Personalized user profiles to view booking history, manage preferences, and update account details.</li>
                        </ul>
                    </p>
                    <div class="view-screenshots container" style="float:right;" {{on "click" this.viewScreenShots}}>
                         <div class="parent">
                            <span style="padding:10px 15px;border:1px solid white;border-radius:30px;align-items:center;">View ScreenShots <i class="fa-solid fa-camera"></i></span>  
                            <div class="tooltip">click to view project Screenshots</div>
                         </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact division">
          <section>
            <div class="section-header">
            <div class="container">
                <h2>Contact</h2>
                <p>Feel free to reach out! You have the option to either complete the contact form below or send me an email using the provided email address or by using social platforms. Please feel free to contact me and I will be happy to assist you with any questions or concerns you may have.</p>
            </div>
            </div>
            
            <div class="container">
            <div class="row">
                
                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="contact-info-content">
                            <h4>Address</h4>
                            <p>14D, Dhanakotti ammal 1st street, Valli ammal nagar<br/> Vanagaram, Chennai - 600095 <br/>Tamil Nadu</p>
                        </div>
                    </div>
                    
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="contact-info-content">
                            <h4>Phone</h4>
                            <p>(+91) 9080740652</p>
                        </div>
                    </div>
                    
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact-info-content">
                            <h4>Email</h4>
                            <p>baskar97917@gmail.com</p>
                        </div>
                    </div>
                </div>
                
                <div style="width: 50%;">
                    <div class="contact-form">
                        <form onsubmit={{this.sendSMS}} id="contact-form">
                            <h2>Send Message</h2>
                            <div class="input-box">
                                <input type="text" required="true" name="name" autocomplete="off"/>
                                <span>Full Name</span>
                            </div>

                            <div class="input-box">
                                <input type="tel" id="phone" name="mobile" pattern="[0-9]{10}" required="true" autocomplete="off"/>
                                <span>Mobile</span>
                            </div>
                            
                            <div class="input-box">
                                <input type="email" required="true" name="mail" autocomplete="off">
                                <span>Email</span>
                            </div>
                            
                            <div class="input-box">
                                <textarea id="messagebox" required="true" name="message"></textarea>
                                <span>Type your Message...</span>
                            </div>
                            
                            <div class="input-box">
                                <input type="submit" value="Send" name="">
                            </div>
                        </form>
                    </div>
                    <div class="social-platforms">
                        Connet with: <a href="https://www.instagram.com/baskar__.__7/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>  <a href="https://github.com/Baskar-7" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>  <a href="https://www.linkedin.com/in/baskar-e-bb487a217/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
            </div>
        </section>
  
    </div>
</div>

<Message-box @statusMessage={{this.statusMessage}} />